# PORT=8000
# MONGO_URI="mongodb+srv://..."
# MONGO_DB_NAME=yourelegancestore
# API_PUBLIC_URL=https://yourelegancestore.com
# JWT_SECRET=your_secret
# JWT_EXPIRES_IN=15d
# RAZORPAY_KEY_ID=
# RAZORPAY_KEY_SECRET=