PORT=8000
MONGO_URI="mongodb+srv://rahulyadav900:rahul900@cluster0.viknwdd.mongodb.net/deepak_database"
MONGO_DB_NAME=deepak_database
JWT_SECRET=deepak111
JWT_EXPIRES_IN=15d

CLOUD_NAME=dscetbgl8
API_KEY=582173887384368
API_SECRET=YT3E8QRzQzS9-PpmxmFVvLSbw-g
RAZORPAY_KEY_ID=rzp_live_SmReVUvqD2SH4p
RAZORPAY_KEY_SECRET=xvcdf2P81MuYZFzRsuHnDYN0